body{
    margin: 0px;
    background: #f2f3f5;
    height: 780px;
}
.image
{
    height: 100px;
    padding-left: 485px;
    margin-top: 5px;
}

.container
{
    width: 430px;
    height: 600px;
    position: absolute;
    top: 120px;
    margin-left:420px ;
    background-color: #fff;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    border-radius: 8px;
    border: none;
}

.account
{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.quick
{
    color: #606770;;
    font-weight: 400;
    font-size: 15px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    line-height: 25px;
    position: absolute;
    margin-top:-25px;
    margin-left: 145px;
}

hr{
    width: 430px;
    border-top: 0.5px solid #DADDE1;
    margin-top: 40px;
}

.fname
{
    width: 168px;
    height: 16px;
    font-size: 15px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    padding: 13px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid rgb(204, 208, 213);
    outline: none;
}
#sname
{
    margin-left: 5px;
}
.newform
{
    padding: 13px;
    padding-top: 5px;
}
input:focus{
    border: 2px solid black;
}
input
{
    font-size: 15px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    padding: 12px;
    line-height: 16px;
    color: black;
}
.dob
{
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 11px;
    margin-left: 1px;
}
.qn-mark
{
    display: inline-block;
    font-size: 12px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    color:white;
    line-height: 16px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #606770; 
    text-align: center;
    filter:blur(0.5px);
}

.txt
{
    display: inline-block;
    position: absolute;
    left: 17px;
    color: rgb(88, 88, 88);
    top: 270px;
    width: 332px;
    height: 64px;
    background-color: #fff;
    font-size: 13px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    box-shadow: 0 3px 4px #0000001a, 0 8px 16px #0000001a;
    line-height: 16px;
    padding: 12px;
    border-radius: 3px;
    visibility: hidden;
}

.st1
{
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 36px;
    line-height: 20px;
    width: 124px;
    border: 1px solid #CCD0D5;
    border-radius: 5px;
    margin-top: -7px;
    margin-left: 2px;
    top: 0px;
}
select:focus
{
    border: 2px solid black;
}

.st{
    margin-left: 10px;
}
.stt
{
    margin-left: 10px;
}

#gen
{
    margin-top: 10px;
}
#gender-txt
{
    top: 370px;
    height: 48px;
}
.female{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #CCD0D5;
    border-radius: 4px;
    color: #1c1e21;
    display: inline-block;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    padding: 0 28px 0 12px;
    width: 100%;
    height: 36px;
    width: 128.948px;
    margin-left: 2px;
    margin-top: -7px;
}

.fem
{
    position: absolute;
    left: 113px;
    top: 240px;
    height: 36px;
}
#male
{
    width: 111.468px;
    margin-left: 10.5px;
}
#mal
{
    position: absolute;
    left: 240px;
}
#others
{
    width: 130px;
    margin-left: 10.5px;
}
#cus
{
   position: absolute;
   left: 384px; 
}

.mob
{
    height: 16px;
    width: 375px;
    border-radius: 5px;
    border: 1px solid rgb(204, 208, 213);
    margin: 12px;
    margin-left: 2px;
}

::placeholder
{
    padding-left: 0px;
    color: #92949c;
}

#new-pass
{
    margin-top: 0px;
}
.par
{
    color: #777;
    font-size: 11px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    margin-left: 12px;
    margin-top: 7px;
}

.uline:hover
{
    text-decoration: underline;
}

.sign-button
{
    background-color: #00a400;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 36px;
    width: 194px;
    overflow: hidden;
    padding: 0 32px;
    margin-left: 115px;
    margin-top: 15px;
    line-height: 140%;
    letter-spacing: 1px;
    cursor: pointer;
}

input.sign-button:focus
{
    border: none;
}

.sign-button:hover
{
    color: #eff0f3;
}

.aha
{
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 127px;
    margin-top: 10px;
}

.footer
{
    width: 100%;
    height: 170px;;
    background-color: rgb(255, 255, 255);
    margin-top: 700px;
    box-shadow: 0 3px 4px #0000001a;
}
.meta
{
    color: #737373;
    line-height: 1.34;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-left: 138.5px;
    padding-top: 7px;
}

.language
{
    padding-left: 132px;
    padding-top: 25px;
}
.lang{
    margin-left: 6px;
    color: #385898;
    line-height: 1.75;
    font-size: 12px;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-weight: 400%;
}

.footer hr{
    border-bottom-width: 0.3px;
    color: rgb(115, 115, 115);
    width: 975px;
    margin-left: 140px;
    margin-top: 6.5px;
}

.lang:hover{
    text-decoration: underline;
}

.language2
{
    padding-left: 122px;
    margin-top: -2px;
}

#lang2
{
    margin-left:16px;
}

.language3
{
    padding-left: 122px;
    margin-top: -1px;
}

#lang3
{
    margin-left:137px;
}

.image-box
{
    margin-top: -20px;
    height: 18px;
    width: 30px;
    background-color:#f2f3f5;
    margin-left: 665px;
    box-sizing: border-box;
    border: 0.5px solid #c8c7c7d2;
}

.image2{
    width: 10px;
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    margin-top: 3px;
}
.image-box:hover
{
    background-color: #e6e7e9;
}
.adimage
{
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-left: -3px;
    position: absolute;
}
